* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: black;
}
/* ---------------------------header */
body {
  background-color: #eee;
}
.container {
  padding: 10px;
  width: 800px;
  height: 420px;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  margin: 50px auto;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 10px;
}
/* .container > div {
  padding: 10px 0;
} */
.container .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 25px;
  color: var(--main-color);
}
.container .header i {
  color: 026e6c;
  font-size: 30px;
}
.container .review {
  border-left: 2px solid;
  font-weight: bold;
}
.container .review span {
  color: var(--main-color);
}
.container .review .rev-header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
/*----------------------------- add form */
.container .review-form form {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.container .review-form form > div label {
  display: block;
}
.container .review-form form > div input {
  padding: 8px 10px;
  outline: none;
  width: calc(100% - 15px);
}
.container .review-form form > div textarea {
  resize: none;
  outline: none;
  width: 300px;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 15px);
}
.container .review-form form label {
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 500;
}
svg {
  width: 5;
  height: 5;
}
.container .review-form form input[type="submit"] {
  padding: 8px 10px;
  color: white;
  background-color: var(--main-color);
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
.container .review-form form input[type="submit"]:hover {
  background-color: rgb(74, 67, 67);
}
/*---------------------------- comments */
.container .review {
  overflow-y: auto;
}
.container .review .comments .com {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid;
  margin: 10px;
  border-radius: 5px;
}
.container .review .comments .com .text .name {
  color: #777;
  margin-bottom: 5px;
}
.container .review .comments .com .text .name .user {
  color: rgb(2, 2, 133);
  font-size: 18px;
}
.container .review .comments .com .text p:not(.name) {
  font-size: 18px;
  font-weight: 500;
}
.container .review .comments .com .op i {
  font-size: 22px;
  cursor: pointer;
}
.container .review .comments .com .op i:first-child {
  margin-right: 10px;
  color: rgb(193, 9, 9);
}
.container .review .comments .com .op i:last-child {
  color: rgb(1, 1, 195);
}
.container .review .comments .com .text .name .stars {
  color: rgb(255, 196, 0);
  margin-left: 5px;
  font-size: 14px;
}